::ng-deep .p-checkbox .p-checkbox-input {
	background-color: var(--p-surface-0);
}
::ng-deep .p-checkbox-checked:not(.p-disabled) .p-checkbox-box {
	background-color: var(--p-surface-900);
}

/* Dark Mode Support */
::ng-deep .p-dark .p-checkbox .p-checkbox-box {
	background-color: var(--p-surface-0);
}
::ng-deep .p-dark .p-checkbox-checked:not(.p-disabled) .p-checkbox-box {
	background-color: var(--p-surface-900);
}

/* Color Variants - Success */
.checkbox-container--success ::ng-deep .p-checkbox .p-checkbox-box {
  background-color: #10b981;
  border-color: #10b981;
}

.checkbox-container--success ::ng-deep .p-checkbox:not(.p-disabled) .p-checkbox-box:hover {
  border-color: #10b981;
}

/* Color Variants - Danger */
.checkbox-container--danger ::ng-deep .p-checkbox .p-checkbox-box {
  background-color: #ef4444;
  border-color: #ef4444;
}

.checkbox-container--danger ::ng-deep .p-checkbox:not(.p-disabled) .p-checkbox-box:hover {
  border-color: #ef4444;
}
