/* Checkbox Container */
.checkbox-container {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-family);
}

/* Size Variants */
.checkbox-container--small {
  font-size: 0.75rem;
}

.checkbox-container--small ::ng-deep .p-checkbox {
  width: 1rem;
  height: 1rem;
}

.checkbox-container--small ::ng-deep .p-checkbox .p-checkbox-box {
  width: 1rem;
  height: 1rem;
}

.checkbox-container--small ::ng-deep .p-checkbox .p-checkbox-icon {
  font-size: 0.625rem;
}

.checkbox-container--medium {
  font-size: 0.875rem;
}

.checkbox-container--medium ::ng-deep .p-checkbox {
  width: 1.25rem;
  height: 1.25rem;
}

.checkbox-container--medium ::ng-deep .p-checkbox .p-checkbox-box {
  width: 1.25rem;
  height: 1.25rem;
}

.checkbox-container--medium ::ng-deep .p-checkbox .p-checkbox-icon {
  font-size: 0.75rem;
}

.checkbox-container--large {
  font-size: 1rem;
}

.checkbox-container--large ::ng-deep .p-checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.checkbox-container--large ::ng-deep .p-checkbox .p-checkbox-box {
  width: 1.5rem;
  height: 1.5rem;
}

.checkbox-container--large ::ng-deep .p-checkbox .p-checkbox-icon {
  font-size: 0.875rem;
}

/* Checkbox Label */
.checkbox__label {
  cursor: pointer;
  color: var(--text-color);
  line-height: 1.5;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

.checkbox-container--disabled .checkbox__label {
  cursor: not-allowed;
  opacity: 0.6;
}

.checkbox__required {
  color: #ef4444;
  margin-left: 0.125rem;
}

/* Color Variants - Primary (default in PrimeNG) */
.checkbox-container--primary ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.checkbox-container--primary ::ng-deep .p-checkbox:not(.p-disabled):has(.p-checkbox-box:hover) {
  border-color: var(--primary-color);
}

/* Color Variants - Success */
.checkbox-container--success ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  background-color: #10b981;
  border-color: #10b981;
}

.checkbox-container--success ::ng-deep .p-checkbox:not(.p-disabled) .p-checkbox-box:hover {
  border-color: #10b981;
}

/* Color Variants - Danger */
.checkbox-container--danger ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  background-color: #ef4444;
  border-color: #ef4444;
}

.checkbox-container--danger ::ng-deep .p-checkbox:not(.p-disabled) .p-checkbox-box:hover {
  border-color: #ef4444;
}

/* Outlined Variant */
.checkbox-container--outlined ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  background-color: transparent !important;
}

.checkbox-container--outlined.checkbox-container--primary ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: var(--primary-color);
}

.checkbox-container--outlined.checkbox-container--primary ::ng-deep .p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon {
  color: var(--primary-color);
}

.checkbox-container--outlined.checkbox-container--success ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #10b981;
}

.checkbox-container--outlined.checkbox-container--success ::ng-deep .p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon {
  color: #10b981;
}

.checkbox-container--outlined.checkbox-container--danger ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #ef4444;
}

.checkbox-container--outlined.checkbox-container--danger ::ng-deep .p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon {
  color: #ef4444;
}
