<input
  pInputText
	[fluid]="true"
  [id]="inputId()"
  [class]="inputClasses()"
  [attr.pSize]="componentSize()"
  [attr.variant]="variant() || null"
  [invalid]="invalid()"
  [type]="type()"
  [value]="value()"
  placeholder="{{ placeholder() || 'Enter a value' }}"
  [title]="placeholder() || 'Input field'"
  [required]="required()"
  [readonly]="readonly()"
  [disabled]="isEffectiveDisabled()"
  [attr.aria-invalid]="invalid()"
  [attr.aria-describedby]="null"
  (input)="handleInputChange($event)"
  (focus)="handleInputFocus()"
  (blur)="handleInputBlur()"
  (keydown)="handleInputKeyDown($event)" />