/* Switch Molecule Styles */
:host {
  display: block;
}

/* Customizing PrimeNG ToggleSwitch */
::ng-deep .atomic-switch.p-toggleswitch .p-toggleswitch-slider {
  background: var(--p-surface-300);
}
::ng-deep .atomic-switch.p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover) .p-toggleswitch-slider {
  background-color: var(--p-surface-400);
}

/* Checked State */
::ng-deep .atomic-switch.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  background: var(--p-surface-900);
}
::ng-deep .atomic-switch.p-toggleswitch.p-toggleswitch-checked:not(.p-disabled):has(.p-toggleswitch-input:hover) .p-toggleswitch-slider {
  background: var(--p-surface-700);
}

/* Dark Mode */
::ng-deep .p-dark .atomic-switch.p-toggleswitch .p-toggleswitch-slider {
  background: var(--p-surface-200);
}
::ng-deep .p-dark .atomic-switch.p-toggleswitch .p-toggleswitch-handle {
  background-color: var(--p-surface-900);
}
::ng-deep .p-dark .atomic-switch.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  background: var(--p-surface-900);
}
::ng-deep .p-dark .atomic-switch.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
  background-color: var(--p-surface-0);
}

/* Disabled State */
::ng-deep .p-dark .atomic-switch.p-toggleswitch.p-disabled .p-toggleswitch-slider {
  background-color: var(--p-surface-200);
}
::ng-deep .p-dark .atomic-switch.p-toggleswitch.p-disabled .p-toggleswitch-handle {
  background-color: var(--p-surface-500);
}
