/* Table Organism Styles */
.table-organism {
	width: 100%;
}

/* Customizing PrimeNG Table */
:host ::ng-deep .p-datatable {
	border-radius: var(--p-border-radius);
	box-shadow: var(--p-shadow-sm);
}
:host ::ng-deep .p-datatable .p-datatable-table-container {
	background-color: var(--p-surface-0);
	border-radius: 10px 10px 0 0;
}

/* Table Header */
:host ::ng-deep .p-datatable th {
	background-color: var(--p-surface-0);
}
:host ::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted {
	color: var(--p-primary-500);
}
:host ::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted .p-datatable-sort-icon {
	color: var(--p-primary-500);
}

/* Table Body */
:host ::ng-deep .p-datatable td {
	background-color: var(--p-surface-50);
}

/* Table Paginator */
:host ::ng-deep .p-paginator {
	background-color: var(--p-surface-0);
}
:host ::ng-deep .p-paginator .p-select {
	background-color: var(--p-surface-0);
	color: var(--p-primary-500);
}
:host ::ng-deep .p-paginator .p-select .p-select-list {
	background-color: var(--p-surface-0);
}

:host ::ng-deep .p-paginator .p-select .p-select-list .p-select-option.p-focus {
	background-color: var(--p-surface-100);
}
