/* Breadcrumb Molecule Styles */
:host {
  display: block;
  width: 100%;
}

/* Customizing PrimeNG Breadcrumb */
::ng-deep .atomic-breadcrumb {
  background: transparent;
  border: none;
  padding: 0;
}
